<form ng-submit="save()">
	<table class="table">
		<thead>
			<tr>
				<th>attribute</th>
				<th>value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>id</th><td>{{entity.id}}</td>
			</tr>
			<tr>
				<th>name</th><td><input ng-model="entity.name"></td>
			</tr>
			<tr>
				<th>neighborhood</th><td><input ng-model="entity.neighborhood"></td>
			</tr>
			<tr>
				<th>category</th><td><input ng-model="entity.category"></td>
			</tr>
			<tr>
				<th>orgtype</th><td><input ng-model="entity.orgtype"></td>
			</tr>
			<tr>
				<th>type</th><td><input ng-model="entity.type"></td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="button" class="btn" ng-click="cancel()">Cancel</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</td>
			</tr>
		</tbody>
	</table>
</form>
